{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "js/conf.js" %}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav>
    {% if user.is_authenticated %}
        <p>{{ user.email }}</p>
    {% endif %}
    <ul class="d-flex list-unstyled">
        {% if user.is_authenticated %}
            <li><a href="{% url "todo_app:tasks_list" %}">Home</a></li>
            <li><a href="{% url "todo_app:add_task" %}">Add task</a></li>
            <li><a href="{% url "todo_app:upcoming_tasks" %}">Upcoming</a></li>
            <li><a href="{% url "todo_app:history" %}">History</a></li>
            <li><a href="" id="submit_logout">Log out</a></li>
            <form action="{% url "todo_app:logout" %}" method="post" id="logout_form" style="display: none;">
                {% csrf_token %}
            </form>
        {% else %}
            <li><a href="{% url "todo_app:login" %}">Log in</a></li>
            <li><a href="{% url "todo_app:register" %}">Register</a></li>
        {% endif %}
    </ul>
</nav>

<div class="px-3">
    <div class="row">
        <!-- Display sidebar to authenticated users only -->
        {% if user.is_authenticated %}
            <div class="col-md-2 d-flex flex-column bgc-gray-light">
                <!-- Sidebar content -->
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Categories</h4>
                    <a href="{% url "todo_app:create_category" %}" class="d-block svg-button">
                        <img src="{% static "icons/add-category.svg" %}" class="d-block w-100" alt="add icon">
                    </a>
                </div>
                {% with user.categories.all as categories %}
                    <ul class="d-flex flex-column list-unstyled">
                        {% for category in categories %}
                            <li><a href="{% url "todo_app:categorized" category.slug %}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                {% endwith %}
            </div>
        {% endif %}
        <div class="col-md-10">
            <!-- Main content area -->
            <div class="vw-70 mx-auto">

                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>
</div>
</body>
</html>